body {
    /*height: 100%;*/
    /*width: 100%;*/
    /*font-size: 8px;*/
}

/*inform demo*/
#head-img {
    position: absolute;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    overflow: hidden;
    top: 10%;
    width: 30%;
    height: 45%;
}
#inform-table {
    /*border: solid 1px dodgerblue;*/
    text-align: center;
    position: absolute;
    top: 1%;
    left: 35%;
    height: 60%;
    width: 62%;
}
#inform-table tr {
    height: 20%;
}
#inform-table td {
    border-bottom: solid 1px dodgerblue;
}
#inform-button {
    border-top: solid 1px dodgerblue;
    padding-top: 4%;
    margin: 50% auto 0 auto;
    /*position: absolute;*/
    /*top: 70%;*/
    /*left: 12%;*/
    width: 188px;
    height: 16%;
}
#inform-button button {
    height: 100%;
    /*margin-left: 9%;*/
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
    border-radius: 5px;
}

/*gourp demo*/
#group-button {
    width: 100%;
    height: 7%;
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
}
.group-table {
    border: 1px solid dodgerblue;
    margin: 2px auto;
    width: 98%;
    height: 20%;
}
/*.group-td-left {*/
/*    border-right: solid 1px dodgerblue;*/
/*}*/
/*.group-td-right {*/
/*    width: 25%;*/
/*}*/
.group-td-right button {
    height: 85%;
    width: 90%;
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
}

/*task demo*/
.task-table {
    border: 1px solid dodgerblue;
    margin: 2px auto;
    width: 98%;
    height: 23%;
}
.task-table td {
    /*border: 1px solid dodgerblue;*/
}
.task-elem-img {
    /*text-align: center;*/
    width: 3%;
    border-right: 1px solid dodgerblue;
}
.task-elem-inform {
    text-align: center;
}
#task-add {
    /*border: 1px solid dodgerblue;*/
    position: absolute;
    /*font-size: 30px;*/
    /*text-align: center;*/
    left: 90%;
    top: 85%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
}
#task-add button {
    background-color: dodgerblue;
    border: none;
    /*border-radius: 30px;  */
    font-size: 25px;
    width: 100%;
    height: 100%;
}
.task-state-point {
    display: inline-block;
    width: 85%;
    height: 18%;
    border-radius: 50%;
}
.task-elem-top {
    border-bottom: 1px solid dodgerblue;
}
.task-elem-button {
    text-align: center;
    width: 5%;
    border-left: 1px solid dodgerblue;
}
.task-elem-button button {
    height: 95%;
    width: 90%;
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
    border-radius: 5px;
}

/*content demo*/
.content-title {
    font-size: 20px;
    height: 10%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.content-inform {
    border-right: 1px solid dodgerblue;
    float: left;
    height: 78%;
    width: 50%;
    margin-left: 2%;
}
.content-table {
    /*border: 1px solid dodgerblue;*/
    float: right;
    /*text-align: center;*/
    margin-right: 2%;
    height: 78%;
    width: 45%;
}
.content-table td {
    border-bottom: 1px solid dodgerblue;
}
.content-botton {
    /*border-bottom: none;*/
    text-align: center;
}
.content-table select {
    height: 80%;
    width: 90%;
}
#content-button {
    position: absolute;
    left: 84%;
    top: 83%;
    height: 11%;
    width: 10%;
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
    border-radius: 5px;
}
.content-inform-user {
    font-size: 14px;
    border-right: 1px solid dodgerblue;
    float: left;
    height: 80%;
    width: 50%;
    margin-left: 2%;
}
#content-task-message {
    /*border: 1px solid dodgerblue;*/
    position: absolute;
    color: rgb(247, 84, 84); /* 247 84 84 */
    left: 5%;
    top: 85%;
    width: 40%;
    text-align: center;
}
#uploadFile {
    width: 40%;
    margin-left: 4%;
    margin-top: 1%;
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
    border-radius: 5px;
}
#content-message {
    position: absolute;
    /*border: solid 1px #0254bf;*/
    text-align: center;
    left: 54%;
    top: 84%;
    width: 25%;
    height: 20px;
}
#content-files {
    font-size: 14px;
    border: solid 1px #0254bf;
    position: absolute;
    top: 41%;
    left: 55%;
    height: 38%;
    width: 41%;
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}
#table-files {
    text-align: center;
    position: absolute;
    left: 54%;
    top: 22%;
    width: 43%;
    height: 75%;
}
#table-files td {
    border-bottom: 1px solid dodgerblue;
    width: 50%;
}
#table-files button {
    height: 80%;
    width: 50%;
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
    border-radius: 5px;
}

/*member demo*/
.member-list {
    border: 1px solid dodgerblue;
    height: 90%;
    width: 100%;
    /*overflow-y: scroll;*/
}
.member-table {
    text-align: center;
    font-size: 13px;
    margin-left: 2%;
    /*line-height: 200%;*/
    width: 95%;
    height: 100%;
}
.member-table td{
    border-bottom: 1px solid dodgerblue;
    height: 35px;
}
.member-img {
    width: 15%;
}
.member-point {
    width: 5%;
}
.member-img img {
    width: 100%;
    height: 100%;
}
.member-state {
    width: 4%;
}
.member-state-point {
    display: inline-block;
    width: 90%;
    height: 16%;
    border-radius: 50%;
}

/*modify dome*/
.modify-table {
    margin: 6% auto;
    border: 1px solid dodgerblue;
    width: 80%;
    height: 50%;
    text-align: center;
}
.modify-table td {
    border: 1px solid dodgerblue;
}
.modify-table .left-td {
    width: 30%;
}
.pw-text {
    font-size: 20px;
    width: 98%;
    height: 60%;
}
.modify-table button {
    height: 75%;
    background-color: #158ae7;
    color: #fff;
    border: solid 1px #0254bf;
    border-radius: 5px;
}
#modify-message {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*margin-left: 10%;*/
    /*margin-top: -4%;*/
    margin: -4% auto 0 auto;
    /*border: 1px solid dodgerblue;*/
    text-align: center;
    width: 80%;
    height: 8%;
}
/*.modify-table button {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

#add-group {
    border: 1px solid dodgerblue;
    background-color: white;
    margin: 15% auto 0 auto;
    height: 25%;
    width: 25%;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}
#add-group table {
    margin: 3% auto 0 auto;
    text-align: center;
    height: 40%;
    /*line-height: 12%;*/
}
#add-group tr {
    height: 50%;
}
#add-group button {
    width: 80%;
    background-color: #158ae7;
    color: #fff;
    /*border: solid 1px #0254bf;*/
    border-radius: 5px;
}
#add-group-message {
    /*border: 1px solid dodgerblue;*/
    height: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}